<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  	<add key="id_application" value="3" /> <!-- Id de applicación proveniente del catálogo ca_applications de la base de datos dasboards -->

  	<!-- INICIO CONFIGURACIONES - BASE DE DATOS -->
    <add key="server" value="localhost" />
    <add key="database" value="dashboard" />
    <add key="usr" value="root" />
    <add key="pwd" value="" />
    <!-- FIN CONFIGURACIONES - BASE DE DATOS -->

    <!-- INICIO CONFIGURACIONES - LANGUAJE -->
	    <add key="defaultLanguaje" value="esp" />
	<!-- FIN CONFIGURACIONES - LANGUAJE -->

    <!-- INICIO CONFIGURACIONES - CARPETA DE IMAGENES -->
    	<add key="imagesPath" value="Assets\images\" /> 
    <!-- FIN CONFIGURACIONES - CARPETA DE IMAGENES -->

    <!-- INICIO CONFIGURACIONES - BACKGROUND EN FORMULARIOS -->
	    <add key="backgroundsImages" value="backgrounds\" />
    	<add key="formBackground" value="backGround.jpg" />
	<!-- FIN CONFIGURACIONES - CARPETA DE IMAGENES -->

	<!-- INICIO CONFIGURACIONES - BASE IMAGES PATH -->
	    <add key="baseImagesPath" value="main\" />
	<!-- FIN CONFIGURACIONES - BASE IMAGES PATH -->

	<!-- INICIO CONFIGURACIONES - BASE GIFS IMAGES PATH -->
	    <add key="baseGifsPath" value="gifs\" />
	<!-- FIN CONFIGURACIONES - BASE IMAGES PATH -->

		<add key="logoImage" value="logo.png" /> <!-- LOGO DE LA VENTANA DE PAGOS -->
		<add key="principalGifAnimated" value="ticket.png" /><!-- VARIABLE QUE ESPECIFICA LA IMAGEN PRINCIPAL DE LA PANTALLA DE ESPERA DE TICKET -->
		<add key="upperCaseStrings" value="true" /><!-- VARIABLE QUE INDICA SI TODAS LAS ETIQUETAS SE CAMBIAN A MAYUSCULAS -->

  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>